* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

main {
    height: 80vh;
    font-weight: 600;
}



h1 {
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Playfair Display', serif;
    font-size: 45px;
}


.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}


/* contenitore supremo */

.row {
    width: 50%;
    margin: 0 auto;
    position: relative;
}

/* contenitore 1 */
.contenitore1 {
    width: 50%;
    justify-content: end;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 0;
}

/* contenitore 2 */
.contenitore2 {
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    right: 0;
    margin-right: 30px;
}

/* prima colonna del contenitore 2 */
.colonna1 {
    border: 1px solid #dbdbdb;
    width: 350px;
    height: 475px;
}

.titolo {
    justify-content: center;
    padding-top: 30px;
}

.input {
    margin: 50px auto 20px;
    gap: 5px;
}

.input>input {
    width: 270px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    padding-left: 10px;
}

.btn {
    border: none;
    background-color: #57b6f9;
    border-radius: 7px;
    color: white;
    height: 30px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.input>button {
    margin-top: 18px;
}

/* riga separatrice */
.line-with-text {
    display: flex;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

.line {
    flex: 1;
    border-top: 1px solid #dbdbdb;
}

.text {
    padding: 0 10px;
}

/* lista */
.lista {
    justify-content: center;
    font-size: 15px;
    width: 80%;
    margin: 10px auto 0px;

}

.lista ul li {
    list-style-type: none;
    text-align: center;
    margin-top: 15px;

}

.lista ul li>a:last-child {
    color: #385185;

}


.lista ul li a>svg {
    fill: #385185;
 margin-right: 5px;

}

.lista ul li>a {
    text-decoration: none;
}


/* seconda colonna del contenitore 2 */
.colonna2 {
    border: 1px solid #dbdbdb;
    width: 350px;
    height: 60px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    color: #888888;
}

.colonna2 span>a {
    color: #0995f6;
    text-decoration: none;
}

/* contenitore download */
.download {
    width: 350px;
    height: 75px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.btn-black>button {
    width: 145px;
    height: 40px;
    background-color: black;
    margin-top: 15px;
    border-radius: 7px;
    gap: 10px;
}

.btn-black {
    gap: 10px;
}

.icons>svg {
    fill: white;
    height: 35px;
    padding-left: 7px;
}

.icons-2>svg {
    fill: white;
    height: 30px;
    padding-top: 5px;
    padding-left: 5px;
}

.text-gle {
    padding-top: 5px;
}

.text-gle>p {
    color: white;
    font-size: 10px;
    display: block;
}

.text-gle>h3 {
    color: white;
    display: block;
}

.text-btn {
    padding-top: 5px;
    padding-left: 5px;
}

.text-btn>p {
    color: white;
    font-size: 10px;
    display: block;
}

.text-btn>h3 {
    color: white;
    display: block;
}

/* contenitore footer */
footer {
    position: relative;
}

.row1-footer {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: 80px;

}

.row1-colonna1 {
    width: 55%;
    margin: 0 auto;
    justify-content: space-between;
}

.row1-colonna1 ul li {
    list-style-type: none;
    flex: 1;
    width: 100%;
    margin: 0 5px;
}

.row1-colonna1 div>a {
    display: block;
    width: 100%;
    margin-left: 15px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 13px;
    color: #888888;
}

.row1-colonna1 div>a:hover {
    text-decoration: underline;
}

.row1-colonna2 {
    width: 50%;
    margin: 15px auto;
    justify-content: center;
    align-items: end;
}

.row1-colonna2 ul li {
    list-style-type: none;
    flex: 1;
    width: 100%;
    margin: 0 5px;
}

.row1-colonna2 div>a {
    width: 100%;
    margin-left: 15px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 13px;
    color: #888888;
}

.row1-colonna2 div>a:hover {
    text-decoration: underline;
}
.row1-colonna2 a > svg {
    margin-left: 5px;
    margin-right: 5px;
}
